html{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #444;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Slab', serif;
}
*,
*:before,
*:after{
	box-sizing: border-box;
}

/*======================================
=            Layout commons            =
======================================*/
.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
}
.row{
	border:dashed 2px green;
	margin-bottom: 20px;
}
.row img{
	display: block;
	max-width: 100%;
}


/*----------  Clearfixes  ----------*/
.container:after{
	clear: both;
	display: block;
	content: "";
}


/*=====  End of Layout commons  ======*/



/*==============================
=            Header            =
==============================*/
.site-header{
	background-color: #0bbcff;
	border-bottom: solid 4px #9c27b0;
}
.site-header .container{
	position: relative;
}
.logo{
	background-color: orange;
	width:160px;
	height: 160px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	left:10px;
	top: 10px;
	z-index: 1;
}
.logo:after{
	border: double 5px #FFF;
	width:170px;
	height: 170px;
	border-radius: 50%;
	content:"";
	position: absolute;
	left:-5px;
	top: -5px;
}
.logo h1{
	font-size:30px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 50px;
	line-height: 26px;
	color: #FF0;
}
.social-links{
	background-color: green;
	float: right;
	padding-left: 0;
	margin: 0;
	list-style: none;
}
.social-links li{
	float: left;
}
nav{
	background-color: lightblue;
	clear: left;
	float: left;
}
.helpline{
	background-color: yellow;
	clear: right;
	float: right;
	
}


/*=====  End of Header  ======*/

