/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #444;
  background-color: #efefef;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}


.container{
  padding: 0 15px;
}
.container:after{
  clear: both;
  display: table;
  content: "";
}
@media (min-width:768px) {
  .container{
    width:760px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width:980px) {
  .container{width:980px;}
}
@media (min-width:1200px) {
  .container{width:1170px;}
}

/*=====================================
=            header styles            =
=====================================*/
/* Primary color: #0bbcff */
/* Secondary color: #9c27b0 */


.site-header{
  background-color: #0bbcff;
  border-bottom: solid 4px #9c27b0;
}
.site-header h1{
  text-align: center;
  margin-top: 0;
  padding-top: 15px;
  line-height: 26px;
}
.site-header h1 a{
  color: #FFF;
  text-decoration: none;
  font-size:26px;
}
.site-header h1 small{
  font-size:14px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  display: block;
}
@media (min-width:768px) {
  .site-header h1{
    text-align: left;
    line-height: 36px;
    float: left;
  }
  .site-header h1 a{
    font-size:36px;
  }
}

/*----------  hamburger styles  ----------*/
@media (max-width:767px) {
  .hamburger{
    margin-bottom: 5px;
    width: 34px;
    height: 34px;
    border-radius:50%;
    background-color: #9c27b0;
    float: left;
    position: relative;
    cursor: pointer;
    transition: all 250ms ease;
  }
  .hamburger:hover{
    border:solid 1px #FFF;
  }
  .hamburger span{
    width: 18px;
    height: 3px;
    background-color: #FFF;
    position: absolute;
    left:8px;
    transition: all 250ms ease;
  }
  .hamburger:hover span{
    left:7px;
  }

  .hamburger span:first-child{top: 9px;}
  .hamburger span:nth-child(2){top: 15px;}
  .hamburger span:last-child{top: 21px;}

  .hamburger.close span:first-child{
    transform: rotate(45deg);
    top: 15px;
  }
  .hamburger.close span:last-child{
    transform: rotate(-45deg);
    top: 15px;
  }
  .hamburger.close span:nth-child(2){
    left:-30px;
    opacity: 0;
  }

}
@media (min-width:768px) {
  .hamburger{display: none}
}

/*----------  nav  ----------*/
.site-header{
  position: relative;
}
@media (max-width:767px) {
  .site-header nav{
    background-color: #e1bee7;
    width:220px;
    position: absolute;
    left:0;
    top: 118px;
    display: none;
  }
}
@media (min-width:768px) {
  .site-header nav{
    clear: both;
    float: left;
  }
}
.site-header ul{
  padding-left: 0;
  margin:0;
  list-style: none;
}

/*----------  site-nav  ----------*/

.site-nav{}
@media (min-width:768px) {
  .site-nav > li{
    float: left;
  }
}
.site-nav > li > a{
  color:#444;
  font-size:16px;
  line-height: 34px;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}
.site-nav > li:last-child > a{
  border-bottom-color: #9c27b0;
}
@media (max-width:767px) {
  .site-nav > li > a{
    padding-left: 20px;
    border-bottom: solid 1px #d4aade;
  }
}
@media (min-width:768px) {
  .site-nav > li{
    margin-right: 10px;
  }
  .site-nav > li > a{
    border-radius:4px 4px 0 0;
  }
  .site-nav li a{
    background-color: #e1bee7;
  }
}
@media (min-width:768px) and (max-width:979px) {
  .site-nav li a span{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
.site-nav > li > a:before{
  padding-right: 10px;
}
.site-nav li.active a,
.site-nav > li:hover > a,
.site-nav li a:hover{
  background-color: #9c27b0;
  color:#FFF;
}
.site-nav > li.kg-home > a:before{content: "\f015"}
.site-nav > li.kg-about > a:before{content: "\e901"}
.site-nav > li.kg-work > a:before{content: "\e903"}
.site-nav > li.kg-gallery > a:before{content: "\e906"}
.site-nav > li.kg-blog > a:before{content: "\e90d"}
.site-nav > li.kg-hire > a:before{content: "\e90f"}

/*----------  Sub-menu styles  ----------*/

.site-nav > li.has-submenu > a:after{
  width:10px;
  height: 10px;
  border-left:ridge 2px #444;
  border-bottom:ridge 2px #444;
  content:"";
  float: right;
  margin-top: 13px;
  margin-right: 10px;
  margin-left: 10px;
  transform: rotate(-45deg);
}
.site-nav > li.has-submenu > a:hover:after,
.site-nav > li:hover > a:after{
  border-left-color:#FFF;
  border-bottom-color:#FFF;
}

.submenu li{}
.submenu li a{
  display: block;
  line-height: 28px;
  text-decoration: none;
  color: #777;
  padding-left: 35px;
  border-bottom: solid 1px #E5D8E8;
}
.submenu li a:before{
  content:"»";
  padding-right: 10px;
}
@media (min-width:768px) {
  .site-nav > li.has-submenu{
    position: relative;
  }
  .submenu{
    position: absolute;
    left:0;
    top: 34px;
    width:200px;
    background-color: #9c27b0;
    border:solid 4px #9c27b0;
    border-top-width: 4px;
    display: none;
    padding-bottom: 5px;
    border-radius:0 0 6px 6px;
  } 
  .submenu li a{
    display: block;
    padding-left: 15px;
  }
  .submenu li:last-child a{
    border-bottom: none;
  }

  .site-nav > li.has-submenu:hover .submenu{
    display: block;
  }

}



/*----------  social-icons  ----------*/

.social-icons{
  padding:25px 0;
  text-align: center;
}
@media (min-width:768px) {
  .site-header .container{position: relative;}
  .social-icons{
    position: absolute;
    right:20px;
    top: 0;
  }
}
.social-icons li{ 
  display: inline-block;
  padding:0 3px;
}
.social-icons li a{
  text-decoration: none;
}
.social-icons li a span{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.social-icons li a:before{
  width: 30px;
  height: 30px;
  background-color: #999;
  border-radius:50%;
  display: block;
  color: #FFF;
  font-size:18px;
  line-height:30px !important;
  text-align: center;
}
.social-icons .kg-fb a:before{content: "\e84e"}
.social-icons .kg-pi a:before{content: "\e52f"}
.social-icons .kg-tw a:before{content: "\e566"}
.social-icons .kg-gp a:before{content: "\e913"}
.social-icons .kg-li a:before{content: "\e90e"}

.social-icons .kg-fb a:hover:before{background-color: green}
.social-icons .kg-pi a:hover:before{background-color: blue}
.social-icons .kg-tw a:hover:before{background-color: black}
.social-icons .kg-gp a:hover:before{background-color: yellow}
.social-icons .kg-li a:hover:before{background-color: crimson}

/*----------  connect-icons  ----------*/

.connect-icons{
  float: right;
  text-align: center;
}
.connect-icons li{ 
  display: inline-block;
  padding:0 3px;
}
.connect-icons li a{
  text-decoration: none;
}
.connect-icons li a span{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.connect-icons li a:before{
  width: 30px;
  height: 30px;
  background-color: #999;
  border-radius:50%;
  display: block;
  color: #FFF;
  font-size:18px;
  line-height:30px !important;
  text-align: center;
}
.connect-icons .kg-call a:before{content: "\e90c"}
.connect-icons .kg-email a:before{content: "\e900"}

.connect-icons li a:hover:before{background-color: white;color:grey}



/*=====  End of header styles  ======*/


/*----------  review  ----------*/
.review_item{
  margin-bottom: 10px;
  padding:10px;
}
.review_item:after{
  content:"";
  display: block;
  clear: both;
}
.review_item .img{
  float: left;
}
.review_item .img img{
  border-radius:50%;
}
.review_item .tm-details{
  margin-left:85px;
  background-color: lightblue;
  padding:5px;
}

.review_item_good-one .tm-details{
  border:solid 1px green;
}
.review_item_good-one{
  position: relative;  
}
.review_item_good-one:before{
  content:"Good";
  width:100px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 20px;
  background-color: red;
  color:#FFF;
  text-transform: uppercase;
  font-size:12px;
  text-align: center;
  line-height: 24px;
  transform: rotate(45deg);
}

@media (min-width:768px) {
  .review_item{
    width:50%;
    float: left;
  }
}
@media (min-width:980px) {
  .review_item{
    width:33.333%;
  }
}



/*=========================================
=            Custom icon fonts            =
=========================================*/

@font-face {
    font-family: 'boxycons';
    src:
        url('../fonts/boxycons.ttf?y83ob1') format('truetype'),
        url('../fonts/boxycons.woff?y83ob1') format('woff'),
        url('../fonts/boxycons.svg?y83ob1#boxycons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.site-nav li a:before,
.social-icons li a:before,
.connect-icons li a:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'boxycons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-film:before {
    content: "\f008";
}
.icon-home:before {
    content: "\f015";
}
.icon-repeat:before {
    content: "\f01e";
}
.icon-rotate-right:before {
    content: "\f01e";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-email:before {
    content: "\e900";
}
.icon-password:before {
    content: "\e901";
}
.icon-excel:before {
    content: "\e902";
}
.icon-htmlfile:before {
    content: "\e903";
}
.icon-printer:before {
    content: "\e904";
}
.icon-baseball-set:before {
    content: "\e905";
}
.icon-trophy:before {
    content: "\e906";
}
.icon-table-tennis:before {
    content: "\e907";
}
.icon-golf:before {
    content: "\e908";
}
.icon-award:before {
    content: "\e909";
}
.icon-cloud:before {
    content: "\e90a";
}
.icon-rainbow:before {
    content: "\e90b";
}
.icon-umbrella:before {
    content: "\e90c";
}
.icon-sunglasses:before {
    content: "\e90d";
}
.icon-compass:before {
    content: "\e90e";
}
.icon-one-finger-double-tap:before {
    content: "\e90f";
}
.icon-one-finger-click:before {
    content: "\e910";
}
.icon-code-appple:before {
    content: "\e911";
}
.icon-exercise:before {
    content: "\e84e";
}
.icon-exercise:before {
    content: "\e84e";
}
.icon-cycling:before {
    content: "\e52f";
}
.icon-running:before {
    content: "\e566";
}
.icon-goat:before {
    content: "\e913";
}



/*=====  End of Custom icon fonts  ======*/




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}