/* 
things to rememebr about every property
----------------------------------------
		1.	What is the default value of this property
		2.	Does this property get inherited
		3.	On which elements can you apply this property

Links to refer
----------------------------------------
Complete list - https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

text transform - https://css-tricks.com/almanac/properties/t/text-transform/

							 - https://developer.mozilla.org/en/docs/Web/CSS/text-transform
							 
Color names		 - http://html-color-codes.info/color-names/


*/
/* 
List related style properties
++++++++++++++++++++++++++++++++++++++++++++++++++++++

list-style:
	list-style-type
	list-style-position
	list-style-image

*/

.ol-demo{
	list-style-type: none;
	list-style-position: outside;
	list-style-image: url(../img/bullet.png);
	border:solid 1px red;
}
.ol-demo li{
	border:solid 1px blue;
	display: inline;
}
.demo-li{

}
.demo-li span{
	border:solid 1px blue;
	display:list-item;
}

.list-demo{
	padding-left: 0;
	border:solid 1px blue;
	list-style: none
}

.images{
	border:solid 1px red;
	background-color: lightcoral;
	margin:40px;
	padding:50px;
}

.img{
	border:solid 1px white;
	display: inline-block;
	background-color: #f2f2f2;
}
.img img{
	display: block;
	padding:10px;
}


