/* 
things to rememebr about every property
----------------------------------------
		1.	What is the default value of this property
		2.	Does this property get inherited
		3.	On which elements can you apply this property

Links to refer
----------------------------------------
Complete list - https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

text transform - https://css-tricks.com/almanac/properties/t/text-transform/

							 - https://developer.mozilla.org/en/docs/Web/CSS/text-transform
							 
Color names		 - http://html-color-codes.info/color-names/


*/
/* 
background related style properties
++++++++++++++++++++++++++++++++++++++++++++++++++++++


background-color: transparent 
background-image
background-repeat: repeat | no-repeat | repeat-x | repeat-y
background-attachment- fixed | scroll
background-position
background [color image repeat attachment position]
background-size – contain, cover
background-origin – border-box, padding-box, content-box
background-clip – 
multiple backgrounds – CSS3
Gradient Backgrounds – CSS3


*/

.bg-demo1{
	background-color: crimson
}
.bg-demo2{
	border:solid 4px red;
	height: 500px;
	margin-top: 30px;

	background-color: lightblue;
	background-image: url(../img/bg-flora.png);
	background-repeat: no-repeat;
	background-position: 100% 0;

	background: lightblue url('../img/bg-flora.png') no-repeat fixed left center;
	
}


