/* 
things to rememebr about every property
----------------------------------------
		1.	What is the default value of this property
		2.	Does this property get inherited
		3.	On which elements can you apply this property

Links to refer
----------------------------------------
Complete list - https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

text transform - https://css-tricks.com/almanac/properties/t/text-transform/

							 - https://developer.mozilla.org/en/docs/Web/CSS/text-transform
							 
Color names		 - http://html-color-codes.info/color-names/


*/
/* 
Box related style properties
++++++++++++++++++++++++++++++++++++++++++++++++++++++

width, min-width, max-width
height, min-height, max-height 
padding
margin
overflow: visible | hidden | scroll | auto
float : left | right | none
clear: none | left | right | both


box-sizing – content-box | padding-box | border-box
Flexbox
resize - none | both | horizontal | vertical 
opacity 
column-count
column-gap
column-fill – auto | balance
column-rule - <'column-rule-width'> || <'column-rule-style'> || <'column-rule-color'>


*/

.wi-demo{
	background-color: black;
	border:solid 20px rgba(255,0,0,.5);
	margin:30px;
	padding: 30px;
	max-width:300px;
}

.d-ib{
	display: inline-block;
}

.dabba{
	width:300px;
	background-color: lightblue;
	border:solid 10px lightgreen;
	padding:25px;
	min-height: 100px;
	max-height: 300px;
	overflow-y:scroll;
}

.box{
	width:49%;
	display: inline-block;
}
.box .content{
	background-color: lightgreen;
	padding:10px;
	margin:10px;
	border:solid 1px green;
}


.articles{
	border:dotted 1px red;
	margin:20px auto;
	background-color: lightgreen;
	padding:30px;
	width:720px;
}
.articles .post{
	border-bottom:dashed 1px gray;
	margin-bottom:20px;
	background-color: white;
	padding:10px
}

.row{
	border:solid 4px red;
	background-color: lightgreen;
	margin:10px 25px;
	padding:10px;
}
.row:after{
	content:"";
	clear: both;
	display: block;
}
.row h1{
	background-color: wheat;
	border:solid 1px green;
	margin:0;
	font-size: 14px;
	text-transform: uppercase;
	float: left;
}
.row span{
	background-color: wheat;
	border:solid 1px green;
	width:200px;
	float: right;
}
.row p{
	background-color: lightblue;
	border:solid 1px orange;
	margin:0;
	clear:both;
}


.products{
	border:solid 1px grey;
	margin:40px auto;
	width:1000px;
	border-radius:10px;
	padding-left: 10px;
	padding-right: 10px;
}
.products:after{
	content:"";
	display: block;
	clear: both;
}
.products h2{
	text-align: center;
	background-color: wheat;
	margin: 0 -10px 10px;
	line-height: 50px;	
	border-radius:9px 9px 0 0;
}
.products *{
	box-sizing:border-box;
}

.product{
	width:25%;
	float: left;
	padding:10px;
}
.pro-wrap{
	border:solid 1px #CCC;
}
.pro-wrap img{
	width: 100%;
	display: block;
	padding:6px;
}
.pro-wrap p{
	background-color: #E7E7E7;
	margin-top:0;
	margin-bottom: 0;
	line-height: 40px;
	text-align: center;
}

