/* 
		default values 
		Override
		Inheritence
		what are the different values
		Shorthand properties
*/

html{
	font-family: 'Catamaran', sans-serif;
	font-size: 14px; /*  em, %, vw, vh, rem */
	color: #444;
	overflow-y: scroll;
}
body{
	margin: 0;
	background-color: #f3f3f3;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Sevillana', cursive;
	font-weight: 400;
}

.site-header{
	background-color: #03A9F4;
	padding-top: 50px;

}
.site-header h1{
	font-size: 40px;
	line-height: 40px;
	color:#03A9F4;
	text-align: center;
	background-color: #FFF;
	position: absolute;
	top: 15px;
	left:50px;
	width: 160px;
	height:160px;
	border-radius:50%;
	margin:0;
	padding-top: 60px;
	box-sizing: border-box;
	-webkit-transition: all 250ms ease-in;
					transition: all 250ms ease-in;


}
.site-header h1:after{
	box-sizing: border-box;
	width:180px;
	height: 180px;
	border: double 9px #FFF;
	border-radius:50%;
	content:"";
	position: absolute;
	left:-10px;
	top: -10px;
	-webkit-transition: all 250ms ease-in;
					transition: all 250ms ease-in;

}
.site-header h1:hover:after{
	border:inset 3px pink;
}

.site-header h1 small{
	color:#666;
	display: block;
	font: 300 14px 'Catamaran', sans-serif;
	text-transform: uppercase;
}

.site-nav ul{
	text-align: center;
	
}
.site-nav ul li{
	display:inline;
}
.site-nav ul li a{
	text-transform: uppercase;
	font-size: 15px;
	color: #bbb;
	text-decoration: none;
}
.site-nav ul li a:hover,
.site-nav ul li.active a{
	color: #000;
}



.box{
	border:solid 1px red;
	display: inline-block;
}

.page-title{
	text-align: center;
}
.page-title:before{
	content: " -·-° ";
}
.page-title:after{
	content: " °-·- ";
}

footer{
	background-color: #CECECE;
	text-align: center;
	padding:2px 0;
	margin-top: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	width:100%;
}

body{
	padding-bottom: 100px;
}

